<br>
<div class="card">
  <%= image_tag(@course.image_course) %>
</div>

<br>

<label for=""><b>Título</b></label>
<p class="info_course"><%= @course.name %></p>

<label for=""><b>Subtítulo</b></label>
<p class="info_course"><%= @course.subtitle %></p>

<label for=""><b>Descrição</b></label>
<% if @course.content.present? %>
  <p class="info_course"><%= @course.content %></p>
<% else %>
  <p class="info_course">Sem Descrição</p>
<% end %>