<p id="notice"><%= notice %></p>

<div class="card">
  <h5 class="card-header">Bem Vindo a sua Conta</h5>
  <div class="card-body">
    <h5 class="card-title">Olá <b><%= current_student.email%></b>! </h5>
    <p class="card-text">Aqui você vai pode acessar os Cursos que estão Disponível na plataforma! :)</p>
  </div>
</div>
<br>
<br>
<h3>Meus Cursos (<%= @courses.count %>)</h3>
<hr>

<div class="row">
  <%= render 'courses' %>
</div>