<h2>Inscrições (<%= @subscriptions.count %>)</h2>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Curso</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr class="table align-middle">
        <td><%= subscription.id %></td>
        <td><%= subscription.course.name %></td>
        <td><%= link_to 'Ver', course_path(subscription.course.id), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>