<h1>Editar Notificação</h1>

<%= render 'form', notification: @notification %>

<br>
<%= link_to 'Ver', @notification, class: "btn btn-primary" %> | <%= link_to 'Voltar', notifications_path, class: "btn btn-secondary" %>
