<div class="card">
  <h5 class="card-header">Bem Vindo a sua Conta</h5>
  <div class="card-body">
    <h5 class="card-title">Olá <b><%= current_user.email%></b>! </h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>