// Place all the styles related to the DashboardStudent/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.link_course {
  text-decoration: none;
  color: inherit;
}

.logo_dashboard {
  width: 60px;
}

.image_avatar{
  width: 60px;
  border-radius: 100px;
  border: 2px solid rgb(225, 225, 230);
  padding: 2px;
  border-radius: 100%;
  background-size: cover;
  background-clip: content-box;
}

ul.dropdown-menu.show {
  margin-left: -69px;
}

.logo_student{
  margin: 0 auto;
}

.logo_student img{
  width: 300px;
}