<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("logo_3.png", class: "logo_dashboard") %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Início', root_path, class: "nav-link active" %>
        </li>
      </ul>
      <form class="d-flex">
        <% if student_signed_in? %>
          <%#= link_to 'Painel do Aluno', dashboard_student_home_index_path, class: "btn btn-outline-success me-2" %>
          <%#= link_to('Sair', destroy_student_session_path, method: :delete, class: "btn btn-danger") %>
        <% else %>
          <%#= link_to 'Painel do Aluno', dashboard_student_home_index_path, class: "btn btn-outline-success me-2" %>
          <%#= link_to 'Cadastre-se', new_student_registration_path, class: 'btn btn-outline-primary me-2' %>
        <% end %>
      </form>
    </div>
  </div>
</nav>