<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#courseUsersList">
  Alunos Matriculados
</button>

<div class="modal fade" id="courseUsersList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Alunos Cadastrados (<%= @course_users.count %>)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Identificador</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <% @course_users.each do |course| %>
              <tr>
                <th scope="row"><%= course.student.id %></th>
                <td><%= course.student.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>