<% if section.position == 1 then %>
  <button class="btn btn-secondary" disabled>Mover Sess達o para Cima</button>
<% else %>
  <%= link_to 'Mover Sess達o para Cima', move_section_to_up_path(@course.id, section.id), class: "btn btn-secondary" %>
<% end %>

<% if @sections.maximum(:position) == section.position then %>
  <button class="btn btn-secondary" disabled>Mover Sess達o para Baixo</button>
<% else %>
  <%= link_to 'Mover Sess達o para Baixo', move_section_to_bottom_path(@course.id, section.id), class: "btn btn-secondary" %>
<% end %>