<% if lesson.position == 1 then %>
  <button class="btn btn-primary" disabled>Mover para Cima</button>
<% else %>
  <%= link_to 'Mover para Cima', move_video_to_up_path(@course.id, lesson.id), class: "btn btn-primary" %>
<% end %>

<% if section.lessons.maximum(:position) == lesson.position then %>
  <button class="btn btn-primary" disabled>Mover para Baixo</button>
<% else %>
  <%= link_to 'Mover para Baixo', move_video_to_bottom_path(@course.id, lesson.id), class: "btn btn-primary" %>
<% end %>

<%= render 'modal_update_video', section: section, lesson: lesson %>

<%= link_to 'Apagar Aula', delete_video_section_path(@course.id, lesson.id), class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza que deseja apagar esta Aula? A ação não poderá ser desfeita!' } %>