<% if !notice.nil? %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1>Cursos</h1>
<%= link_to 'Criar Curso', new_course_path, class: "btn btn-success" %>
<br>
<br>

<div class="row">
  <%= render 'course' %>
</div>
<br>
<%= link_to 'Criar Curso', new_course_path, class: "btn btn-success" %>