// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.video_clip {
  width: 270px;
  height: 200px;
}

.title_sections {
}

.container_sections {
  margin: 0 20px 0 20px;
}

button.accordion-button {
  color: #313131 !important;
  background-color: transparent !important;
}

.title_course {
  font-family: Nunito;
  font-size: 30px;
}

.subtitle_course {
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
}

.vide_clip {
  padding: 10px;
}

.info_course {
  background-color: #d0d0d0;
  padding: 10px;
  border-radius: 3px;
  margin: 0px 0 30px 0;
}

.course_section_name {
  font-weight: 800;
  padding-left: 6px;
}
